.futureforecast{
    background-color: skyblue;
    backdrop-filter: blur(5px);
    text-align: center;
    display: block;
    border-radius: 32px 32px 0 0;
    width: 100%;
    padding: 8px;
    min-height: max-content;
    box-sizing: border-box;
    
}

.title {
    width: 100%;
    color: #01202c;
    font-size: 1.7rem;
}